.zone-container {
    margin: 1rem;
}

.zone-title {
    margin-top: 2rem;
}

.section-container {
    margin: 1rem;
}

.path-finder-target {
    margin: 1rem;
}

.path-finder-btn {
    margin-top: 1rem;
}

.zone-requirements {
    color: red;
}